<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="EncryptionTEST">
    <test verbose="2" preserve-order="true" name="D:/Backward_Web_23_7">
        <classes>
            <class name="Tests.EncryptionToolsTest" >
            </class>
        </classes>
    </test>
</suite>